/* header */
header {
    background: #fff;
}

.head_menus {
    width:1200px;
    margin:0 auto;
}

.link_menu {
    float:left;
    margin-top:10px;
}

.logo_site {
    width:1200px;
    margin:12px auto 35px;
}

.sub_menu {
    float:right;
}

.sub_menu > ul {
    float:right;
}

.sub_menu li {
    float:left;
    color:#9b9b9b;
    background-image: url(../img/index/submenu_bar.jpg);
    background-position: center left;
    background-repeat: no-repeat;
}

.sub_menu li:first-child {
    background: none;
}

.sub_menu li a {
    padding: 10px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    letter-spacing: -1px;
    font-size:11px;
    color:#9b9b9b;
}
.sub_menu li.link_put img {
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: initial;
    width: 15px; 
}

.sub_menu .search {
    width:90px;
    padding:0;
}

.sub_menu .search input {
    width:85px;
}

.sub_menu .search a {
    float:right;
    right: -4px;
    top: 7px;
    padding: 5px;
}


.box_logo {
    text-align: center;
}

.logo_site .search {
    margin-top:-12px;
}

.search {
    float: right;
    position: relative;
    width: 185px;
    height: 32px;
}

.search input { 
    width: 180px;
    height: 32px;
    border: none;
    padding-left: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.search a {
    position: absolute;
    right: 0;
    top: 11px;
}




nav {
    border-bottom:1px solid #ccc;
}

nav ul {
    width:1200px;
    margin:0 auto;
}

nav li {
    float:left;
    height:37px;
}

nav a {
    display: block;
    padding:9px 21.5px 12px 21.5px;
    font-weight:bold;
    letter-spacing: -1px;
    color:#000;
}

nav .emp a {
    color:#f00;
}

nav a:hover {
    background-image: url(../img/index/menu_hover.gif);
    background-position: top center;
    background-repeat: no-repeat;
}

/* footer */
.footer {
    margin-top: 20px;
    padding-top:50px;
    width: 100%;
    border-top: 2px solid #000;
    height: 350px;
    background: #fff;
}

.footer .area {
    width: 1200px;
    margin:auto;
}

.footer .area > div {
    float:left;
    box-sizing:border-box;
    width: 300px;
    height: 260px;
    border-right: 1px solid #f5f5f5;
    padding:0 60px 0 50px;
}

.footer .area .title {
    margin-bottom:20px;
    font-size: 11px;
    color: #444;
}

.footer .area .big_txt {
    font-size: 35px;
    margin: 10px 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
    font-weight: bold;
    letter-spacing: -1px;
}

.footer .area li {
    margin-bottom: 3px;
    font-size: 12px;
    color: #666;
}

.footer .area .box_cs {
    padding-left:0;
}

.footer .area .box_bank {

}

.box_bank select {
    width: 188px;
    height: 21px;
    margin-bottom: 11px;
    border: 1px solid #ddd;
    color: #666;
}

.footer .box_bank li {
    margin-bottom: 7px;
}

.footer .area .box_service {
    width:240px;
}

.footer .box_service li {
    margin-bottom: 7px;
}

.footer .area .box_about {
    width:360px;
    border:none;
    padding-right:0;
}

.footer .box_about li {
    margin-bottom: 5px;
}

.footer_info {
    margin-top:30px;
    padding-top:20px;
    border-top: 1px solid #f5f5f5;
}



.footer_info ul {
    width:940px;
    margin:0 auto;
}

.footer_info li {
    float:left;
    margin-right: 10px;
}

.copyright { 
    font-size: 10px;
    text-align: center;
    margin: 10px 0;
    color: #b5b5b5;
 }