.join_rap {
    width: 900px;
    margin: 100px auto;
}



.join_rap .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
    letter-spacing: -1px;
}

.join_area {
    margin-bottom: 70px;
}

.join_area table {
    margin-bottom: 20px;
}

.join_area table td {
    position: relative;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    padding: 20px;
}

.join_area table input {
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.join_area .date_box {
    padding: 10px 20px;
}

.join_area .date {
    margin-right: 10px;
}


.join_area .date input {
    width: 70px;
    padding: 10px;
    margin: 0 5px 0 10px;
    text-align: center;
    background-color: #f8f8f8;
}

.join_area .date input:first-child {
    margin-left: 0;
}

.join_area .gender input {
    margin-top: -1px;
    width: inherit;
    margin-left: 10px;
}

.join_area .member_type {
    margin-bottom: 20px;
    font-weight: bold;
}

.join_area .member_type input {
    margin-top: -1px;
    width: inherit;
}

.join_area .check {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 61px;
    line-height: 60px;
}

.member_type_ex dt {
    color: #000;
    font-weight: bold;
    letter-spacing: -1px;
}

.member_type_ex dd {
    margin: 5px 0 0;
    color: #626262;
    font-size: 11px;
}

.member_type_ex u {
    font-weight: bold;
}

.agreement_box {
    padding: 20px 10px;
    margin-bottom: 20px;
    border: 1px solid #dedede;
    background: #ffffff;
}

.agreement_box .all_check {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.agreement_detail {
    margin-left: 10px;
}

.deail_list1 {
    margin-bottom: 10px;
}

.deail_list1 span {
    margin-right: 20px;
}

.deail_list1 label {
    font-weight: bold;
}

.deail_list1 a {
    padding: 2px;
    margin-left: 5px;
    line-height: 20px;
    font-size: 11px;
    border: 1px solid #bdbec7;
    background: #fafafa;
    text-align: center;
    vertical-align: top;
}

.agreement_detail .warning {
    margin-bottom: 10px;
    color: red;
}

.deail_list2 {
    margin-bottom: 10px;
}

.deail_list2 label {
    font-weight: bold
}

.deail_list2 .marketing_check {
    margin-right: 10px;
}

.deail_list2 .check6 {
    margin: 10px;
}

.agreement_detail strong {
    font-weight: bold;
}

.agreement_detail .info {
    line-height: 18px;
}

.join_btn button {
    display: block;
    width: 100%;
    height: 64px;
    line-height: 66px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: #000;
    border: none;
}

.join_info_area {
    margin-bottom: 20px;
}

.join_info_area h3 {
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.join_info1 {
    float: left;
    width: 400px;
}

.join_info1 textarea {
    box-sizing: border-box;
    width: 100%;
    height: 650px;
    padding: 10px;
}

.join_info2,
.join_info3 {
    float: left;
    box-sizing: border-box;

    width: 470px;
    margin-left: 30px;
}

.join_info2 {
    margin-bottom: 30px;
}

.join_info_area th {
    font-weight: bold;
    background: #f8f8f8;
}

.join_info_area td,
.join_info_area th {
    border: 1px solid #ccc;
    height: 40px;
    vertical-align: middle;
    text-align: center
}

.join_info_area td {
    padding: 10px;
}

.join_info2 .row1 {
    width: 100px;
    background: #f8f8f8;
}

.join_info2 .row4 {
    width: 90px;
}